.sidebar {
    background-color: #303F9F;
}

.sidebar .logo .simple-text.logo-sidebar {
    color: #fff;
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}