.sidebar .nav .nav-link.item-text p {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif
}

.nav-item .nav-link i {
    color: #fff;
}

.nav-item.active a.nav-link {
    background-color: #009688;
}

.nav-item.active a.nav-link:hover{
    background: #009688;
}